ipykernel
ipython
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
numpy
Pillow
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorhub
urllib3